In [13]:
import geopandas as gpd
import rasterio

#reading shapefile

stations = gpd.read_file(r"D:\Downloads\Extract elevation from a DEM-20240528T130638Z-001\Extract elevation from a DEM\stations.shp")
stations

   Id      name                   geometry
0   0  station1  POINT (116.66012 6.20102)
1   0  station2  POINT (116.86285 6.10965)
2   0  station3  POINT (117.12412 6.12821)
3   0  station4  POINT (117.29115 6.30524)
4   0  station5  POINT (116.91996 6.35664)
5   0  station6  POINT (117.03846 6.51511)
6   0  station7  POINT (116.85286 6.64931)
7   0  station8  POINT (116.68868 6.63646)
8   0  station9  POINT (117.28544 6.58078)

In [31]:
for index,row in stations.iterrows():
    name = row['name']
    latitude = row['geometry'].y
    longitude = row['geometry'].x

    #Reading the DEM using rasterio

    dem = rasterio.open(r"D:\Downloads\Extract elevation from a DEM-20240528T130638Z-001\Extract elevation from a DEM\DEM.tif")
    row,col= dem.index(longitude,latitude)
    dem_data = dem.read(1)

    print("The elevation of ", name , "is: ", dem_data[row,col],"m")

The elevation of  station1 is:  2570 m
The elevation of  station2 is:  204 m
The elevation of  station3 is:  191 m
The elevation of  station4 is:  117 m
The elevation of  station5 is:  774 m
The elevation of  station6 is:  291 m
The elevation of  station7 is:  49 m
The elevation of  station8 is:  399 m
The elevation of  station9 is:  82 m