In [33]:
import geopandas as gpd
import rasterio

#reading shapefile

stations = gpd.read_file(r"D:\Downloads\Extract elevation from a DEM-20240528T130638Z-001\Extract elevation from a DEM\stations.shp")

#Create an empty column for elevation values
stations['elevations']= 0 
stations

   Id      name                   geometry  elevations
0   0  station1  POINT (116.66012 6.20102)           0
1   0  station2  POINT (116.86285 6.10965)           0
2   0  station3  POINT (117.12412 6.12821)           0
3   0  station4  POINT (117.29115 6.30524)           0
4   0  station5  POINT (116.91996 6.35664)           0
5   0  station6  POINT (117.03846 6.51511)           0
6   0  station7  POINT (116.85286 6.64931)           0
7   0  station8  POINT (116.68868 6.63646)           0
8   0  station9  POINT (117.28544 6.58078)           0

In [35]:
for index,row in stations.iterrows():
    name = row['name']
    latitude = row['geometry'].y
    longitude = row['geometry'].x

    #Reading the DEM using rasterio

    dem = rasterio.open(r"D:\Downloads\Extract elevation from a DEM-20240528T130638Z-001\Extract elevation from a DEM\DEM.tif")
    row,col= dem.index(longitude,latitude)
    dem_data = dem.read(1)

    #Add the elevation values to 'stations' geodataframe
    stations['elevations'].loc[index] = dem_data[row,col]

    print("The elevation of ", name , "is: ", dem_data[row,col],"m")

C:\Users\Nirman\AppData\Local\Temp\ipykernel_4252\1904066743.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  stations['elevations'].loc[index] = dem_data[row,col]
C:\Users\Nirman\AppData\Local\Temp\ipykernel_4252\1904066743.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations['elevations'].loc[index] = dem_data[row,col]

The elevation of  station1 is:  2570 m
The elevation of  station2 is:  204 m
The elevation of  station3 is:  191 m
The elevation of  station4 is:  117 m
The elevation of  station5 is:  774 m
The elevation of  station6 is:  291 m
The elevation of  station7 is:  49 m
The elevation of  station8 is:  399 m
The elevation of  station9 is:  82 m

In [42]:
#Save the information into a csv file

elevations = stations[['name','elevations']]
elevations.to_csv('Topographic_elevations.csv')